.header {
    height: 48px;
    background: #0078D7;
}

.todo {
    width:25%;
    height:25;
    margin:left;
}

.todo-text {
    display: inline-block;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 48px;
    color:#e4e4e4;
    margin-left: 3%;
    font-family:sans-serif;
    margin-top: 3px;
}
