.openbtn {
    font-size: 25px;
    color: #0078D7;
    padding: -1px 10px;
    border: none;
    width: 46px;
    top: -198px;
    background-color: #e4e4e4;
    transition: width .3s ease;
    margin-top: 25px;
  
}